    <p-dialog header="{{titulo}}" [(visible)]="isDisplay" [modal]="true" [style]="{ width: '60%' }"
        [maximizable]="true" [draggable]="false" [resizable]="false">
        <p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custombar1">
            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Reserva" leftIcon="pi pi-calendar">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="checkin">Checkin</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-calendar styleClass="ui-calendar" [style]="{'width':'100%'}" [(ngModel)]="reserva.checkin" 
                                        dateFormat="dd/mm/yy" inputId="checkin"></p-calendar>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="checkout">Checkout</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-calendar [style]="{'width':'100%'}" [(ngModel)]="reserva.checkout" 
                                        dateFormat="dd/mm/yy" inputId="checkout"></p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="cliente">Cliente</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-dropdown [style]="{'width':'100%'}" [options]="ltsClientes"
                                        [(ngModel)]="reserva.client_id" placeholder="Selecciona el cliente"
                                        [showClear]="true" [filter]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="habitacion">Habitación</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-dropdown [style]="{'width':'100%'}" [options]="ltsRooms" [(ngModel)]="reserva.room_id"
                                        placeholder="Selecciona la habitación"  [showClear]="true"
                                        [filter]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="adultos">Adultos</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="reserva.adults" inputId="adultos" suffix=" adulto(s)"
                                        [showButtons]="true" [min]="0" [max]="100">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="niños">Niños</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="reserva.children" inputId="niños" suffix=" niño(s)"
                                        [showButtons]="true" [min]="0" [max]="100">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="total">Total</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="reserva.pending_payment" inputId="total" mode="currency"
                                        currency="PEN" locale="es-PE">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="totalPagar">Total por pagar</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="reserva.done_payment" inputId="totalPagar" mode="currency"
                                        currency="PEN" locale="es-PE">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="totalPagado">Total pagado</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="reserva.total" inputId="totalPagado" mode="currency"
                                        currency="PEN" locale="es-PE">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Pago" leftIcon="pi pi-money-bill">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="">Tipo de Documento</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-dropdown [options]="ltsType" placeholder="Selecciona el tipo de documento" 
                                        [(ngModel)]="accounting_document.type" [showClear]="true">
                                    </p-dropdown>
                                    <!-- RadioButtons 
                                    <div *ngFor="let type of ltsType" style="width: 100%;">
                                        <p-radioButton [inputId]="type.value" name="type.label" [value]="type.value"
                                                [disabled]="isNew"></p-radioButton>
                                        <label style="margin-left: 0.5rem" [for]="type.value">{{type.label}}</label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="">Número</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" [(ngModel)]="accounting_document.number" pInputText />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="">RUC / DNI</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber inputId="" [(ngModel)]="accounting_document.client_number" [useGrouping]="false"></p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="">Razón Social / Nombre</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" [(ngModel)]="accounting_document.client_name" pInputText />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="">Dirección</label>
                                </div> 
                                <div class="col-sm-8">
                                    <input type="text" [(ngModel)]="accounting_document.client_address" pInputText />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="emision">Fecha de Emisión</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-calendar [style]="{'width':'100%'}" dateFormat="dd/mm/yy" 
                                        [(ngModel)]="accounting_document.issue_date" inputId="emision">                                    
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="">Tipo de Moneda</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-dropdown [options]="ltsCurrency" placeholder="Selecciona el tipo de moneda" 
                                        [(ngModel)]="accounting_document.currency_type" [showClear]="true">
                                    </p-dropdown>
                                    <!-- RadioButtons 
                                    <div *ngFor="let currency of ltsCurrency" style="width: 100%;">
                                        <p-radioButton [inputId]="currency.value" name="currency.label" [value]="currency.value"
                                                [disabled]="isNew"></p-radioButton>
                                        <label style="margin-left: 0.5rem" [for]="currency.value">{{currency.label}}</label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="totalValorVenta">Total Valor de Venta</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="accounting_document.total_sale" mode="decimal" 
                                        [minFractionDigits]="2" [maxFractionDigits]="5">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="igv">IGV</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="accounting_document.tax" mode="decimal" 
                                        [minFractionDigits]="2" [maxFractionDigits]="5">
                                    </p-inputNumber>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="formLabel" for="importeTotal">Importe Total</label>
                                </div>
                                <div class="col-sm-8">
                                    <p-inputNumber [(ngModel)]="accounting_document.total" mode="decimal" 
                                        [minFractionDigits]="2" [maxFractionDigits]="5">
                                    </p-inputNumber>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </ng-template>
        </p-scrollPanel>

        <ng-template pTemplate="footer">
            <p-button label="Enviar email" styleClass="p-button-secondary"></p-button>
            <p-button (click)="isDisplay=false" label="Cancelar" styleClass="p-button-danger"></p-button>
            <p-button icon="pi pi-save" (click)="coreGuardar()" label="Guardar" styleClass="p-button-info"></p-button>
        </ng-template>
    </p-dialog>
