.main-content{
    padding-top: 100px;
}
::ng-deep h3{
    margin-top: 1rem;
    color: #6C757D;
    margin-bottom: 0px;
}
::ng-deep p{
    color: #6C757D;
}
::ng-deep .content{
    margin-left: 1rem;
    margin-bottom: 2rem;
}

/*//mover el div del splitbutton
:host ::ng-deep .ng-trigger .ng-trigger-overlayAnimation .ng-tns-c33-3 .p-tieredmenu .p-component .p-tieredmenu-overlay .ng-star-inserted{
    left: -120px;
}*/

// table
:host ::ng-deep {
    .textSizeTable{
        font-size: 80%;
    }
    .buttonTable{
        margin-right: 0.2rem;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
    }
}

//Form Nuevo y Editar cliente
.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.p-field * {
    display: block;
}
::ng-deep .row{
    padding-bottom: 1rem;
}