:host ::ng-deep {
    .p-inputtext {
        width: 100%;
    }
    .p-multiselect {
        width: 100%;
    }
    .p-radiobutton {
        margin-left: 0.2rem;
        margin-bottom: 0.1rem;
    }
    .p-scrollpanel-wrapper{
        height: 32rem !important;
    }
    .textSize{
      font-size: 85%;
    }
  }
  
  ::ng-deep{
    .readonly{
        .p-inputtext {
        pointer-events: none;
        background: #efecec;
        opacity: 0.8;
        }
    }
  }