.sidebar{
  position: fixed;
  background: #272b34;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 10;
  padding-top: 10px;
  box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
  &.collapsed{
    width: 80px;
    .navbar-logo{
      display: none;
    }
    .account{
      .col-3 {
        width: 100%;
      }
      .col-9{
        display: none;
      }
    }
    .modules {
      padding: 20px 10px 20px 10px;
      h4{
        display: none;
      }
      .list-group{
        .list-group-item{
          padding-left: 5px;
          margin-left: 5px;
        }
        .list-group-item-action{
          i{
            margin-right: 10px;
          }
          .title {
            display: none;
            padding-right: 0px;
          }
          .child{
            max-width: 15px;
          }
        }
      }
    }
  }
  .navbar-logo{
    display: block;
    padding: 10px;
    img{
      padding: 10px;
      height: 70px;
    }
  }
  .account{
    padding: 10px 20px;
    img{
      height: 40px;
    }
    .account-name{
      color: #FFFFFF;
      display: block;
      font-size: 14px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .account-email{
      color: #6C757D;
      display: block;
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .modules{
    padding: 30px 20px 20px 20px;
    h4{
      display: block;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 18px;
      width: 100%;
      line-height: 28px;
    }
    .list-group{
      background: transparent;
      .list-group-item{
        background-color: transparent;
        border: 0px solid;
        color: #6C757D;
        font-size: 14px;
        font-weight: 500;
        padding-left: 0px;
        margin-left: 0px;
        &.active{
          color: #FFFFFF;
        }

      }
      .list-group-item-action{
        padding-right: 0px;
        cursor: pointer;
        i{
          margin-right: 10px;
        }
        .title{
          display: inline;
          padding-right: 10px;
        }
        .child{
          float: right;
          display: inline-block;
          max-width: 10px;
        }
        &:hover{
          color: #c7c7c7;
        }
      }
    }
    .module-name{

    }
  }
}
