<div class="sidebar" [ngClass]="collapsed ? 'collapsed' : ''">
  <a class="navbar-logo">
    <img src="../assets/img/img-palmeras/sidebar-logo.png" alt="Image" />
  </a>
  <div class="account">
    <div class="row">
      <div class="col-3">
        <img src="../assets/img//users/user-1png.png" alt="Image" />
      </div>
      <div class="col-9">
        <span class="account-name">Jonh Doe</span>
        <span class="account-email">johndoe@gmail.com</span>
      </div>
    </div>
  </div>
  <div class="modules">
    <h4>Módulos</h4>
    <div class="list-group">
      <a class="list-group-item list-group-item-action " [ngClass]="currentModule == 'calendar' ? 'active' : ''" href="/admin/calendar">
        <i class="pi pi-calendar"></i><span class="title">Disponibilidad</span><span class="child"><i class="pi pi-angle-right"></i></span>
      </a>
      <a class="list-group-item list-group-item-action " [ngClass]="currentModule == 'clients' ? 'active' : ''" href="/admin/clients">
        <i class="pi pi-user"></i><span class="title">Clientes</span><span class="child"><i class="pi pi-angle-right"></i></span>
      </a>
      <a class="list-group-item list-group-item-action " [ngClass]="currentModule == 'rooms' ? 'active' : ''" href="/admin/rooms">
        <i class="pi pi-tablet"></i><span class="title">Habitaciones</span><span class="child"><i class="pi pi-angle-right"></i></span>
      </a>
      <a class="list-group-item list-group-item-action " [ngClass]="currentModule == 'users' ? 'active' : ''" href="/admin/users">
        <i class="pi pi-users"></i><span class="title">Usuarios</span><span class="child"><i class="pi pi-angle-right"></i></span>
      </a>
      <a class="list-group-item list-group-item-action " [ngClass]="currentModule == 'roles' ? 'active' : ''" href="/admin/roles">
        <i class="pi pi-users"></i><span class="title">Roles</span><span class="child"><i class="pi pi-angle-right"></i></span>
      </a>
    </div>
  </div>
</div>
