<p-toast></p-toast>
<div class="main-content">
    <div class="content">
        <h3>Calendario de Disponibilidad</h3>
        <p>Aquí podrás ver la disponibilidad de las habitaciones a lo largo de los días del mes</p>
    </div>

    <div class="container-fluid">
        <!--Formulario de reservas-->
        <div class="button-container">
            <p-button label="Registrar reserva" icon="pi pi-plus" styleClass="textSizeTable" (click)="coreNuevo()"></p-button>
        </div>        

        <!--Calendario-->
        <full-calendar  [options]="calendarOptions"></full-calendar>
    </div>
</div>

<app-new-reservtation></app-new-reservtation>