::ng-deep{
.field-radiobutton{
    padding-bottom: 6%;
    padding-left: 6%;
    padding-right: 6%;
}
.p-inputgroup{
    padding-left: 6%;
    padding-right: 6%;
}
.container-links{
    padding-left: 6%;
    padding-right: 6%;
}
.field-radiobutton-forget{
    padding-top: 0%;
}
.field-radiobutton-remember{
    margin-top: 6%;
}
.field-radiobutton-forget{
    margin-top: 6%;
}
}