<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="javascript:void(0)"><i class="pi pi-align-justify"></i></a>
        </li>
        <li class="nav-item dropdown account-menu">
          <a class="nav-link dropdown-toggle account-image" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../assets/img//users/user-1png.png" alt="Image" />
          </a>
          <ul class="dropdown-menu dropdown-menu-end account-options">
            <li class="account-detail">
              <a class="dropdown-item" href="javascript:void(0)">
                <img src="../assets/img//users/user-1png.png" alt="Image" />
                <div class="detail">
                  <span>Jonh Doe</span>
                  <span>johndoe@gmail.com</span>
                </div>
              </a>
            </li>
            <li class="option">
              <a class="dropdown-item" href="javascript:void(0)">Cambiar contraseña</a>
            </li>
            <li class="option">
              <a class="dropdown-item" href="javascript:void(0)">Cerrar sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
