<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item btn-toogle">
          <a class="nav-link" (click)="toggleSidebar()"><i class="pi pi-align-justify"></i></a>
        </li>
        <li class="nav-item dropdown account-menu">
          <p-splitButton label="Info" [model]="this.items" styleClass="p-button-text p-button-info">
            <ng-template pTemplate="content">
                <img alt="logo" src="{{user.img}}" style="width: 30px; margin-right: 0.5rem;" />
                <span class="ml-2 flex align-items-center font-bold">{{user.name}}</span>
            </ng-template>
          </p-splitButton>
        </li>
      </ul>
    </div>
  </div>
</nav>
