<p-dialog header="{{titulo}}" [(visible)]="isDisplay" [modal]="true" [style]="{ width: '30%',height: '760px'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">

    <p-scrollPanel [style]="{width: '100%', height: '100%'}" styleClass="custombar1">
        <ng-template pTemplate="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <label for="firstname" class="mb-2">Nombre:</label>
                            </div>
                            <input type="text" pInputText id="firstname" [disabled]="isEdit"
                                [(ngModel)]="client.firstname" required autofocus />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <label for="lastname" class="mb-2">Apellido:</label>
                            </div>
                            <input type="text" pInputText id="lastname" [disabled]="isEdit"
                                [(ngModel)]="client.lastname" required autofocus />
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <label for="documento" class="mb-2">Documento:</label>
                            </div>
                            <p-inputMask mask="99999999" class="p-0" [style]="{'width':'100%'}" [disabled]="isEdit"
                                [(ngModel)]="client.document"></p-inputMask>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <label for="pais" class="mb-2">País:</label>
                            </div>
                            <p-dropdown [style]="{'width':'100%'}" class="p-0" [options]="countries"
                                [(ngModel)]="client.country_id" placeholder="Selecciona el país" [disabled]="isEdit"
                                [showClear]="true" [filter]="true">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <label for="email" class="mb-2">Email:</label>
                            </div>
                            <input type="email" [disabled]="isEdit" pInputText id="email" [(ngModel)]="client.email"
                                required autofocus />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 p-0">
                                <label for="telefono" class="mb-2">Teléfono:</label>
                            </div>
                            <p-inputMask mask="999999999" class="p-0" [style]="{'width':'100%'}" [disabled]="isEdit"
                                [(ngModel)]="client.phone"></p-inputMask>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div  class="row" *ngFor="let estado of Estados">
                            <p-radioButton [inputId]="estado.value" name="estado.label" [value]="estado.value" [(ngModel)]="client.status"></p-radioButton>
                            <label [for]="estado.value">{{estado.label}}</label>
                        </div>
                        
                    </div>
                    <!--<div class="col-sm-12 offset-sm-2 col-md-12 offset-md-0">
                <label for="reservas">Cantidad de reservas</label>
                <p-inputNumber inputId="reservas" suffix=" reserva(s)" [showButtons]="true" [min]="0" [max]="100">
                </p-inputNumber>
            </div>-->
                </div>
                <!--<div class="row">
            <div class="col-sm-4">
                <label for="estado">Estado</label>
            </div>
            <div class="col-sm-8">
                <div class="p-field-radiobutton col-sm-12">
                    <p-radioButton name="estado" [(ngModel)]="selectedEstado"
                            inputId="estado1" label="Activo">
                    </p-radioButton>
                </div>
                <div class="p-field-radiobutton col-sm-12">
                    <p-radioButton name="estado" [(ngModel)]="selectedEstado"
                            inputId="estado2" label="Inactivo">
                    </p-radioButton>
                </div>
            </div>
        </div>-->

            </div>
        </ng-template>
    </p-scrollPanel>
    <ng-template pTemplate="footer">
        <p-button [disabled]="isEdit" (click)="isDisplay=false" label="Cancelar"
            styleClass="p-button-danger"></p-button>
        <p-button [disabled]="isEdit" icon="pi pi-save" (click)="coreGuardar(accion)" label="Guardar"
            styleClass="p-button-info"></p-button>
    </ng-template>
</p-dialog>